@import url(reset.css);
/* index.css */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display+SC:wght@400;900&family=Playfair+Display:wght@400;600;800&family=Roboto+Condensed:wght@300;400;700&display=swap');
@font-face{
    font-family: AppleSDGothicNeoUL;
    src: url(../font/AppleSDGothicNeoUL.ttf);
    font-family: 'Playfair Display', serif;
    font-family: 'Playfair Display SC', serif;
    font-family: 'Roboto Condensed', sans-serif;
}
/* common */
body{   
    width: 100vw;
    max-width: 100%;
    overflow-x: hidden;
    font-family: 'AppleSDGothicNeoUL', sans-serif;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: -0.5px;
}
a{
    color: #1A1818;
}
#container{ 
    width: 100vw;
    height: 950px;
    position: relative;
    margin: 0 0;
    padding: 0 0;
    background-color: #EFECE7;
}
h2{
    display: inline-block;
    position: relative;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 40px;
    font-weight: 900;
    color: #77614A;
    padding: 83px 68px;
}
h2::before{
    content: "";position: absolute;left: 0; bottom: 13px;
    z-index: -1;
    margin: 0 50px;
    width: 200px;
    height: 207px;
    background-color: #FFF6E8;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
}
h2::after{
    content: "";position: absolute;
    width: 275px; height: 1px; 
    left: 0; bottom: 70px; 
    background: #77614A;
}
.content{
    height: 1080px;
    opacity: 0;
    margin-top: 6px;
    transform: translateY(100px);
    transition: all 1.5s ease-in;
}
dl,.git{
    position: relative;
    margin-left: 240px;
    line-height: 1.5;
}
dl:nth-of-type(1){
    padding-top: 140px;
}
dl:nth-of-type(2){
    padding-top: 53px;
}
dt{
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 700;  
}
dd{
    margin-top: 5px;
    font-size: 16px;
}

.content_R{
    position: relative;
    margin-left: 700px;
    text-align: center;
    transform: translateY(-100px);
}

.content_R::before{ /*원형 */
    content: "";position: absolute; top: -450px; left: 250px; 
    width: 700px; height: 700px; 
    z-index: -3;
    background: #F8F1EB;
    border-radius: 50%;  
    box-shadow: 0 5px 50px rgba(138, 118, 101, 0.5);
}

.content_R>dl{
   position: absolute;
   left: 290px;
   text-align: center;
   transform: translateY(-70px);
}
/* --------------------------------------------------버튼 */
.frame {
    width: 90%;
    display: flex;
    margin-top: 100px;
    margin-left: 240px;
    /* margin: 40px 0; */
    text-align: center;
    
  }
  button {
    margin-right: 10px; 
  }
  button>a>span{
    color: #fff;
  }
  .custom-btn {
    width: 180px;
    height: 40px;
    color: #fff;
    padding: 10px 25px;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 14px;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
     box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
     0 0 20px 0px rgba(32, 32, 15, 0.2),
     0 0 5px 0px rgba(0,0,0,0.1);
     outline: none;
  } 
  .btn-3 {/*호버 전*/
    background: #fff;
    background: linear-gradient(45deg,rgb(221, 220, 220)50%);

    width: 130px;
    height: 40px;
    line-height: 42px;
    padding: 0;
    border: none;
    
  }
  .btn-3 span {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
  }
  .btn-3:before,
  .btn-3:after { /*호버 후*/
    position: absolute;
    content: "";
    right: 0;
    top: 0;
    background:  linear-gradient(45deg, rgb(79, 180, 234) 0%, rgb(250, 228, 190) 100%);
    transition: all 0.3s ease;
  }
  .btn-3:before {
    height: 0%;
    width: 2px;
  }
  .btn-3:after {
    width: 0%;
    height: 2px;
  }
  .btn-3:hover{
     background: transparent;
    box-shadow: none;
  }
  .btn-3:hover:before {
    height: 100%;
  }
  .btn-3:hover:after {
    width: 100%;
  }
  .btn-3 span:hover{
     color:black;
  }
  .btn-3 span:before,
  .btn-3 span:after {
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
     background: linear-gradient(45deg, rgb(253, 203, 255) 0%, rgb(251, 190, 121) 100%);
    transition: all 0.3s ease;
  }
  .btn-3 span:before {
    width: 2px;
    height: 0%;
  }
  .btn-3 span:after {
    width: 0%;
    height: 2px;
  }
  .btn-3 span:hover:before {
    height: 100%;
  }
  .btn-3 span:hover:after {
    width: 100%;
  }
/*--------------------------------------------------자막애니메이션*/
.heading > dt{
    width: 1000px;height: 30px;
    overflow: hidden;
  }
/* .heading > dt > div {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    white-space: nowrap;
    margin: 0;
    line-height: 117%;
  }  */
  
.heading > dt {
    -webkit-animation-delay: 0;
            animation-delay: 0;
  }
.heading > dt > .sec {
    -webkit-animation-delay: 0.5s;
            animation-delay: 0.5s;
  }
  
.heading > dt {
    -webkit-animation-delay: 0;
            animation-delay: 0;
  }
.heading > dd > div{
    -webkit-animation-delay: 0.075s;
            animation-delay: 0.075s;
  }
  
  .slide-up {
    -webkit-animation: slide-up 0.9s cubic-bezier(0.65, 0, 0.35, 1) both;
            animation: slide-up 0.9s cubic-bezier(0.65, 0, 0.35, 1) both;
  }
  
  @-webkit-keyframes slide-up {
    0% {
      transform: translateY(100px);
    }
    100% {
      transform: translateY(0);
    }
  }
  
  @keyframes slide-up {
    0% {
      transform: translateY(100px);
    }
    100% {
      transform: translateY(0);
    }
  }
/* // common // */
/* 메인 */
.main{
    width: 90%;
    height:750px;
    position: absolute;
    background-color: #FFFEFC;
    justify-content: center;  
    box-sizing: border-box;
    margin-top: 92px;
    margin-left: 92px;
}
.main_inner{
    height: 100%;
}
.main_inner>h1{
    width: 1605px;
    height: 800px;
    position: relative;
    display: inline-block;
    top: -30px;
    left: 80px;
    font-size: 120px;
    text-indent: -999px;
    overflow: hidden;
    color:#77614A;
    background-image: url(../imgs/portfolio.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 500px;
}

.main_inner>p{
    width: 1735px;
    position: relative;
    top: -370px;
    left: 20px;
    bottom: 10px;
    text-align: center;
    color: #77614A;
}
.main_inner>.sub_title{
    animation: subtitle 0.8s ease-out;
    position: relative;
}
@keyframes subtitle{
    0%{
        transform: translateY(30px);
    }
    100%{
        transform: translateY(0);
    }
}
.main_inner>p:nth-last-of-type(1){
    transform: translateX(2px) translateY(150px);
    font-size: 17.5px;
    text-align: center;  
    z-index: 1; 
    animation: job 1.5s ease-in-out;
}
@keyframes job{
    0%{
        transform:translateX(2px) translateY(190px);
    }
    100%{
        transform:translateX(2px) translateY(150px);

    }
}
.main_inner::after{
    content: '';display: block;position: relative;
    width: 1000px;height: 50px;
    top: -385px;left: 300px;
    background-color: #FFFEFC;

}
.main_inner>h1::before{
    content: "";position: relative;display: inline-block;
    left: 950px; bottom: -585px;
    transform: translateX(700px);
    width: 350px;height: 40px;
    background-color:  #FFFEFC;
    z-index: 2;
}
.main_inner>h1::after{/*화살표*/
    content: "";position: relative;display: inline-block; 
    left: 1047px;bottom: -625px; 
    width: 50px;height: 50px;
    z-index: 3;
    background: url(../imgs/Arrow1.png) no-repeat 0 0;
    background-size: 11px; 
    opacity: 0;
    animation:arrow 1s ease-in infinite alternate 1s; 
}
@keyframes arrow{
    0%{
        transform: translateY(-25px);
        opacity: 0;
    }
    30%{
        opacity: 1;
    }
    100%{
        transform: translateY(0);
        opacity: 1;
    }
}
/* contact_btn
.main>.contact_btn{
    position: absolute;
    right: -10px;
    top: -70px;
}
.main>.contact_btn>button{
    position: fixed;
    width: 80px;height: 50px;
    border: 1.5px solid #77614A;
    background-color: #fff;
    border-radius: 20px 0 0 20px;
    color: #77614A;
    text-align: center;
    z-index: 100;
    animation: contact_btn 2s ease ;
}
@keyframes contact_btn{
    0%{
        transform: translateX(50px);
        background-color: #77614A;
        color: #fff;
    }
    10%{
        background-color: #fff;
        color: #77614A;
    }
    20%{
        background-color: #77614A;
        color: #fff;
    }
    30%{
        background-color: #fff;
        color: #77614A;
    }
    40%{
        background-color: #77614A;
        color: #fff;
    }
    50%{
        background-color: #fff;
        color: #77614A;
    }
    100%{
        transform: translateX(0);
    }
}
.main>.contact_btn>button:hover{
    background-color: #8f7c67;
    border: 1px solid #77614A;
    color: #fff;
} */
/* //메인// */
/* 삼성전기 */
.content_L{
    width: 750px;
    display: inline-block;
}
.content_L>dl{
    transform: translateY(65px);
}
.fir>.content_R>.page>ul{
    display: flex;
    margin-left: 215px;
    font-size: 15px;
}
.fir>.content_R>.page>ul>li{
    display: inline-block;
    width: 150px;
    padding: 0 50px;
    margin-top: -270px;
    text-align: center;
    transform-origin: center;
}
.fir>.content_R>.page>ul>li:nth-of-type(1){
    transform: translateX(10px);
}
.fir>.content_R>.display{/*전체 목업 위치*/
    transform: translateX(-5px);
}
.fir>.content_R>.display>div>img,
.fir>.content_R>.display>div>div>img{/*공통 페이지 이미지 사이즈*/
    width: 355px;
    transform-origin: left;
}

/*삼전 문의*/
.fir>.content_R>.display::after{/* 삼전 문의 목업*/
    content: "";display: block;position: relative;
    width: 540px;height: 400px; z-index: -1;
    transform-origin: right;
    transform:translateX(130px) translateY(-1469px);
    background:url(../imgs/tab.png)no-repeat 0 0;
    background-size: 800px;
    background-position: -400px;
}
.fir>.content_R>.display>.QnA{overflow: hidden;
    width: 330px;height: 250px;position: relative;
    overflow: hidden;
    transform: translateX(160px) translateY(-664px);
    border-radius: 10px;  
    z-index: 2;
}
.fir>.content_R>.display>.QnA>img{/*삼전 문의 페이지*/
    object-fit: contain;
    z-index: 1;
    animation: QnA 10s ease-in-out infinite alternate;
}
@keyframes QnA{
    0% {transform: translateY(0px);}
    100% {transform: translateY(-572px);}
}
/*삼전 채용공고*/
.fir>.content_R>div.display::before{/* 삼전 채용공고 목업*/
    content: "";display: block;position: relative;
    width: 840px;height: 450px; z-index: -2;
    background: url(../imgs/tab.png)no-repeat 0 0;
    background-size: 800px;
    transform:translateX(270px) translateY(-300px);
}
.fir>.content_R>div.display>.recruit>div{/*overflow*/
    width: 350px;height: 250px;position: absolute;
    overflow: hidden;
    transform: translateX(698px) translateY(-915px);
    border-radius: 8px;   
}

.fir>.content_R>div.display>.recruit>div>img{/*삼전 채용공고 페이지 */
    width: 350px;height: 300px;
    object-fit: contain;
    z-index: 10;
    animation: recruit 10s ease-in-out infinite alternate;
}    
@keyframes recruit{
    0% {transform: translateY(0px);}
    100% {transform: translateY(-48px);}
}
/*삼전 메인*/
.fir>.content_R>div.display>.main_pag::before{/* 삼전 메인 목업*/
    content: "";display: block;position: relative;
    transform:translateX(0) translateY(-1000px);
    width: 840px;height: 450px; z-index: 3;
    background: url(../imgs/tab.png)no-repeat 0 0;
    background-size: 800px;
}
.fir>.content_R>div.display>.main_pag>div{ overflow: hidden;
    width: 350px;height: 250px;position: absolute;  
    z-index: 3;border-radius: 8px; 
    transform:translateX(430px) translateY(-1365px);
}  
.fir>.content_R>div.display>.main_pag>div>img{/*삼전 메인 */
    animation: main_pag 10s ease-in-out infinite alternate;   
}
@keyframes main_pag{/*삼전 메인 애니메이션*/
    0% {
        transform:translateY(0);
    }
    100% {
        transform: translateY(-455px);
    }
}
.fir>.content_R>dl{
    position: absolute;
    margin-top: -1580px;
    margin-left: 230px;
}

/* //삼성전기// */
/* CJONE */
.sec>.content_R>div.cj_pg{
    position: relative;
    transform: translateX(140px) translateY(-400px);
}
.sec>.content_R>dl{
    left: 320px;
}
.sec>.content_R>div.cj_pg::before{/* CJONE 태블릿 목업*/
    content: "";display: block;position: absolute;
    width: 1800px;height: 600px;
    background:url(../imgs/tab.png)no-repeat 0 0;
}
.sec>.content_R>div.cj_pg>.cj1{
    width: 323px;height: 300px;
    overflow: hidden;
    transform: translateX(622px) translateY(105px);
    border-radius: 0 10px 10px 0;  
}

.sec>.content_R>div.cj_pg>.cj1>img{/* CJONE 태블릿 페이지*/
    width: 323px;
    transform-origin: right;
    animation: cj_tab 10s ease-in-out infinite alternate  ;
}    
@keyframes cj_tab{
    0%{
        transform: translateY(0);
    }
    100%{
        transform: translateY(-990px);
    }
}
.sec>.content_R>div.cj_pg>.cj2::before{/* CJONE 노트북 목업*/
    content: "";display: block;position: absolute;
    width: 1007px;height: 555px;
    background: url(../imgs/notebook.png)no-repeat 0 0;
    transform:translateX(-90px) translateY(-300px);
}
.sec>.content_R>div.cj_pg>.cj2>div{
    position: absolute;
    width: 572px;height: 360px;
    transform: translateX(38px) translateY(-235px);
    transform-origin: left;
    border-radius: 3px;
    overflow: hidden;
}
.sec>.content_R>div.cj_pg>.cj2>div>img{/* CJONE 노트북 페이지*/
    width: 573px;object-fit: contain;
    animation: cj_mob 10s ease-in-out infinite alternate  ;
}
@keyframes cj_mob{
    0%{
        transform: translateY(0);
    }
    100%{
        transform: translateY(-692px);
    }
}
.sec>.content_R>div.cj_pg>.cj3::before{/* CJONE 모바일 목업*/
    content: "";display: block;position: absolute;
    width: 1007px;height: 555px;
    background: url(../imgs/Phone.png)no-repeat 0 0;
    background-size: 145px 295px;
    transform:translateX(577px) translateY(-105px);
    transform-origin: left;
}
.sec>.content_R>div.cj_pg>.cj3>div{
    position: absolute;
    width: 130px;height: 280px;
    transform: translateX(585px) translateY(-97px);
    transform-origin: left;
    border-radius: 18px;
    overflow: hidden;
}
.sec>.content_R>div.cj_pg>.cj3>div>img{/* CJONE 모바일 페이지*/
    width: 130px;
    animation: cj_mob 10s ease-in-out infinite alternate  ;
}
@keyframes cj_mob{
    0%{
        transform: translateY(0);
    }
    100%{
        transform: translateY(-692px);
    }
}
.sec>.content_R>dl{
    transform: translateY(-330px);
}
/* //CJONE// */
/* 일룸 placer */
.thir>.content_R>dl{
    left: -250px;
}
.thir>.content_R>dl::before{/* 일룸 노트북 목업*/
    content: '';display: block;position: absolute;
    width: 1007px;height: 550px;
    background: url(../imgs/notebook.png) no-repeat 0 0;
    transform:translateX(195px) translateY(-490px);
}
.thir>.content_R>dl>div{ 
    display: inline-block;
    width: 570px;
    height: 364px;
    position: absolute;
    top: -289px;
    left: 324px;
    border-radius: 10px 10px 0 0;
    overflow: hidden;
}
.thir>.content_R>dl>dt, .thir>.content_R>dl>dd{
    transform:translateX(540px) translateY(30px);
}
.thir>.content_R>dl>div>img{/*일룸 페이지*/
    position: absolute;
    width: 590px;
    object-fit: contain;
    animation: iloom 20s ease-in-out infinite alternate  ;
}
@keyframes iloom{
    0%{
        transform: translateX(-290px) translateY(0);
    }
    100%{
        transform: translateX(-290px) translateY(-4320px);
    }
}
/* LocknLock */
.fourth>.content_R>div.lnl_pg{
    transform:translateX(140px) translateY(-420px);
}
.fourth>.content_R>div.lnl_pg::before{/* LocknLock 태블릿 목업*/
    content: "";display: block;position: absolute;
    width: 1800px;height: 500px;
    background:url(../imgs/tab.png)no-repeat 0 0;
}
.fourth>.content_R>div.lnl_pg>.lnl1{
    width: 323px;height: 300px;
    overflow: hidden;
    transform: translateX(622px) translateY(105px);
    border-radius: 0 10px 10px 0;  
}

.fourth>.content_R>div.lnl_pg>.lnl1>img{/* LocknLock 태블릿 페이지*/
    width: 323px;
    transform-origin: right;
    animation: lnl_tab 16s ease-in-out infinite alternate  ;
}    
@keyframes lnl_tab{
    0%{
        transform: translateY(0);
    }
    100%{
        transform: translateY(-3680px);
    }
}
.fourth>.content_R>div.lnl_pg>.lnl2::before{/* LocknLock 노트북 목업*/
    content: "";display: block;position: absolute;
    width: 1007px;height: 555px;
    background: url(../imgs/notebook.png)no-repeat 0 0;
    transform:translateX(-90px) translateY(-300px);
}
.fourth>.content_R>div.lnl_pg>.lnl2>div{
    position: absolute;
    width: 1007px;height: 360px;
    transform: translateX(-110px) translateY(-235px);
    transform-origin: left;
    border-radius: 3px;
    overflow: hidden;
}
.fourth>.content_R>div.lnl_pg>.lnl2>div>img{/* LocknLock 노트북 페이지*/
    width: 573px;object-fit: contain;
    animation: lnl_mob 15s ease-in-out infinite alternate 2s;
}
@keyframes lnl_mob{
    0%{
        transform: translateY(0);
    }
    100%{
        transform: translateY(-2750px);
    }
}
.fourth>.content_R>div.lnl_pg>.lnl3::before{/* LocknLock 모바일 목업*/
    content: "";display: block;position: absolute;
    width: 437px;height: 892px;
    background: url(../imgs/Phone.png)no-repeat 0 0;
    background-size: 145px 295px;
    transform:translateX(570px) translateY(-100px);
}
.fourth>.content_R>div.lnl_pg>.lnl3>div{
    position: absolute;
    width: 133px;height: 283px;
    transform: translateX(576px) translateY(-93px);
    transform-origin: left;
    border-radius: 15px;
    overflow: hidden;
    background-color: red;
}
.fourth>.content_R>div.lnl_pg>.lnl3>div>img{/* LocknLock 모바일 페이지*/
    position: absolute;
    width: 135px;
    animation: lnl_mob 10s ease-in-out infinite alternate  ;

}
@keyframes lnl_mob{
    0%{
        transform:translateX(-68px) translateY(0);
    }
    100%{
        transform:translateX(-68px) translateY(-1300px);
    }
}

.fourth>.content_R>dl{
    transform: translateY(-370px);
}
/* 피그마 앱 기획 */
.fifth>.content_R>div.figma{
    transform:translateX(-50px) translateY(-150px);
}
.fifth>.content_R>div.figma>.figma_p::before{/* 피그마 런치 목업*/
    content: "";display: block;position: absolute;
    width: 1007px;height: 555px;
    background: url(../imgs/Phone.png)no-repeat 0 0;
    background-size: 145px 295px;
    transform:translateX(577px) translateY(-105px);
    transform-origin: left;
}

.fifth>.content_R>div.figma>.figma_p>.figma_p1>img{/* 피그마 런치 페이지*/
    width: 130px;position: relative;
    transform: translateX(48px) translateY(-97px);
    border-radius: 13px;
}
.fifth>.content_R>div.figma>.figma_p>.figma_p2{
    transform: translateX(20px);
}
.fifth>.content_R>div.figma>.figma_p>.figma_p2::before{/* 피그마 주방 목업*/
    content: "";display: block;position: absolute;
    width: 1007px;height: 555px;
    background: url(../imgs/Phone.png)no-repeat 0 0;
    background-size: 145px 295px;
    transform:translateX(400px) translateY(-385px);
    transform-origin: left;
}
.fifth>.content_R>div.figma>.figma_p>.figma_p2>div>img{/* 피그마 주방 페이지*/
    width: 130px;position: relative;
    transform: translateX(-129px) translateY(-378px);
    border-radius: 13px;
}
.fifth>.content_R>div.figma>.figma_p>.figma_p3{
    transform: translateX(330px) translateY(-280px);
}
.fifth>.content_R>div.figma>.figma_p>.figma_p3::before{/* 피그마 상세 목업*/
    content: "";display: block;position: absolute;
    width: 1007px;height: 555px;
    background: url(../imgs/Phone.png)no-repeat 0 0;
    background-size: 145px 295px;
    transform:translateX(400px) translateY(-385px);
    transform-origin: left;
}
.fifth>.content_R>div.figma>.figma_p>.figma_p3>div>img{/* 피그마 상세 페이지*/
    width: 130px;position: relative;
    transform: translateX(-129px) translateY(-378px);
    border-radius: 13px;
}
.fifth>.content_R>dl{
    transform:translateX(17px) translateY(-450px);
}
.fifth>.content_R>dl{
    transform:translateX(10px) translateY(-900px);
}
/*   ryan     */
.six{
    position: relative;
    height: 930px;
}
.six>.content_R::before{
    display: none;
}
#ryan{
    transform: translateX(-250px) translateY(50px);
}
#facebook_emoji{
    transform: translateX(-430px) translateY(20px);
}
/* Contact */
#contact{
    position: relative;;
    width: 100%;height: 100%;
    margin-top: 1000px;
 
}
.page-wrapper{
    width: 100%;
    height: 100vh;
}
.page-wrapper>.back{
    position: absolute;
    width: 1850px;height: 950px;
    background-color: #fff;
    padding: 10px;
    left: 100px;
    box-sizing: border-box;
}
.page-wrapper>.back>.info{
    position: relative;
    width: 100%;height: 900px;
    margin-bottom: 50px;
    /* background-color: rgba(141, 414, 241, 0.5); */
    background-image: url(../imgs/contact.png);
    background-repeat: no-repeat;
    background-size: 1800px;
    object-fit: contain;
    transform: translateX(-40px);
   
}


